.padding-10{
    padding: 10px;
}

.nonSelectable {
    & vaadin-checkbox{
        pointer-events: none;
        opacity: 50%;
    }

    &.v-grid-select-all-checkbox {
        pointer-events: none;
        opacity: 50%;
    }
}

.smaller-font{
    font-size: 15px;
}

h1 {
  color: #333652;
}

.otherHover:hover{
    background-color: #F8CF2C;
}

.otherHover::part(link){
    color: #F8CF2C;
}

.otherHover::part(link):hover{
    color: #333652;
}